[ssh_connection]
ssh_args = -C -o ControlMaster=no -o ControlPersist=60s 
control_path = %(directory)s/%%h-%%r

[defaults]
inventory = ./hosts.ini
host_key_checking = False
roles_path = /ansible/roles:/ansible/playbook/roles
; private_key_file = ~/.ssh/amhengly.pem
private_key_file = ~/.ssh/id_ed25519

[diff]
# Always print diff when running ( same as always running with -D/--diff )
always = yes

# Set how many context lines to show in diff
context = 3